anyio==3.7.1
backports.zoneinfo==0.2.1
beautifulsoup4==4.12.2
bs4==0.0.1
cached-property==1.5.2
certifi==2023.7.22
charset-normalizer==3.2.0
commonmark==0.9.1
dictdiffer==0.9.0
exceptiongroup==1.1.2
h11==0.14.0
httpcore==0.17.3
httpx==0.24.1
idna==3.4
md2notion==2.4.1
mistletoe==1.1.0
notion==0.0.28
python-slugify==8.0.1
PyYAML==6.0.1
requests==2.31.0
sniffio==1.3.0
soupsieve==2.4.1
text-unidecode==1.3
tzlocal==5.0.1
urllib3==2.0.4
